@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Sample pages using ASP.NET Core MVC</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
			<li>Northwind database</li>
        </ul>
    </div>
</div>
<footer>
	<div class="footer-copyright py-3 text-center">
		<strong> Technical Task C# Software Developer</strong>
		<span>Made by Viktoria Penkova</span>
	</div>
</footer>
